<div class="grid content-center justify-items-center">
  <h1 class="text-4xl font-bold mb-5 text-gray-400 mt-2">Estudiante</h1>
</div>
<hr />

<div class="grid content-center justify-items-center mt-5">
  <form
    [formGroup]="myForm"
    (ngSubmit)="save()"
    class="flex flex-col w-94"
    autocomplete="off"
  >
    <div class="pb-5">
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nombre</label
      >
      <div class="flex">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
        >
          <i class="fa-regular fa-address-card"></i>
        </span>
        <input
          formControlName="name"
          autocomplete="off"
          type="text"
          id="name"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Nombre completo"
        />
      </div>
      @if ( formUtils.isValidField(myForm, 'name')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        {{ formUtils.getFieldError(myForm, "name") }}
      </p>
      }
    </div>

    <div class="pb-5">
      <label
        for="lastName"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Apellido</label
      >
      <div class="flex">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
        >
          <i class="fas fa-address-card"></i>
        </span>
        <input
          formControlName="lastName"
          autocomplete="off"
          type="text"
          id="lastName"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Apellido completo"
        />
      </div>
      @if ( formUtils.isValidField(myForm, 'lastName')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        {{ formUtils.getFieldError(myForm, "lastName") }}
      </p>
      }
    </div>

    <div class="mb-5">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo electrónico</label
      >
      <div class="flex">
        <span
          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
        >
          <i class="fa-solid fa-envelope"></i>
        </span>
        <input
          formControlName="email"
          autocomplete="off"
          type="text"
          id="email"
          class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="nombre@college.com"
        />
      </div>
      @if ( formUtils.isValidField(myForm, 'email')){
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        {{ formUtils.getFieldError(myForm, "email") }}
      </p>
      }
    </div>

    <button
      type="submit"
      class="cursor-pointer mt-5 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800"
    >
      @if (isNew()) {Guardar} @else {Actualizar}
    </button>
  </form>
</div>

@if (hasError()) {
<app-alert [type]="typeError()" [message]="messageError()" />
}
